.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        武南高校
      .chat-main__header--group-edit-btn
        edit
    .chat-main__header-members
      MEMBER:
      %i 隼人
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
      .chat-main__message.clearfix
        .chat-main__message-name
          隼人
        .chat-main__message-time
          2016/11/03 08:32:37
        .chat-main__message-body
          えげつねえな
  .chat-main__footer
    %form.chat-main__footer-form
      .chat-main__footer-body
        %input{ type: 'text', placeholder: 'type a message', class: 'message' }
        %label.chat-file
          %input{ type: 'file', class: 'image' }
          %i.fa.fa-image
      %input{ type: 'sibmit', value: 'Send', class: 'submit' }
