.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        Hayato
      .chat-side__user--new-group
        %i.fa.fa-pencil-square-o
      .chat-side__user--edit-user
        %i.fa.fa-cog
  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group-name
          武南高校
        .chat-side__group-message
          サッカー
      .chat-side__group
        .chat-side__group-name
          西武台高校
        .chat-side__group-message
          サッカー
      .chat-side__group
        .chat-side__group-name
          正智深谷高校
        .chat-side__group-message
          サッカー
