html, body {
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

a:visited {
  color: inherit;
}
