$white: #fff;
$base: #92B4F4;
$darker: darken( $base, 15% );
$lighter: lighten( $base, 5%);
$massage-color: #434A54;
$sub-font-color: #999;
$side-border: 1px solid #5097B9;
$btn-border: 1px solid #FFCAAD;
